# Geo objects and outputs
*.GEO
*.OBJ
*.EOBJ
*.sym
*.ec
*.nc
*.vm
*.rdef
*.rsc
*.ldf
TMP*
*.EXE
*.map
*.GOBJ
*.o
*.obj
*.eobj
*.lnk
*.lib
*.so
*.LIB
*.err
*.i
*.bak
*.e
*.a
*.
*.geo
*.exe
bin/glue
bin/goc
bin/loc
bin/makedpnd
bin/mkmf
bin/pmake
bin/printobj
bin/uic
bin/uicpp
bin/grev
bin/esp
bin/findlbdr
bin/geodump
bin/ldf2sls
bin/printsls
bin/sym2dis
bin/cvtpcx
bin/swat

# IDE stuff
.vscode
**/.symdir.1
**/.symdir.2
**/.symdir.3
**/.symdir.4
Installed/Appl/Launcher/launcher.gobj
dependencies.mk
Makefile
!Installed/**/dependencies.mk
!Installed/**/Makefile
!Tools/build/product/bbxensem/Userdata/ttdata/EXERCISE.VM

# build tools artefacts
Installed/Tools/esp/linux.md/esp
Installed/Tools/esp/linux.md/printobj
Installed/Tools/esp/linux.md/printsls
Installed/Tools/glue/linux.md/glue
Installed/Tools/goc/linux.md/goc
Installed/Tools/grev/linux.md/grev
Installed/Tools/ldf2sls/linux.md/ldf2sls
Installed/Tools/loc/linux.md/loc
Installed/Tools/misc/cvtpcx/linux.md/cvtpcx
Installed/Tools/nmkmf/linux.md/mkmf
Installed/Tools/pmake/findlbdr/linux.md/findlbdr
Installed/Tools/pmake/makedpnd/linux.md/makedpnd
Installed/Tools/swat/linux.md/swat
Installed/Tools/sym2dis/linux.md/sym2dis
Installed/Tools/uic/linux.md/uic
Installed/Tools/uicpp/linux.md/uicpp

# Standard locations for targets
Local/gbuild
Local/gbuild.ec
