# Geo objects and outputs
*.GEO
*.OBJ
*.EOBJ
*.sym
*.ec
*.nc
*.vm
*.rdef
*.rsc
*.ldf
TMP*
*.EXE
*.map
*.GOBJ
*.o
*.obj
*.eobj
*.lnk
*.lib
*.so
*.LIB
*.err
*.i
*.bak
*.e
*.a
*.
*.geo
*.exe
bin/glue
bin/goc
bin/loc
bin/makedpnd
bin/mkmf
bin/pmake
bin/printobj
bin/uic
bin/uicpp
bin/grev
bin/esp
bin/findlbdr
bin/geodump
bin/ldf2sls
bin/printsls
bin/sym2dis

# IDE stuff
.vscode
bin/.symdir.1
bin/.symdir.2
bin/.symdir.3
bin/.symdir.4
bin/swat
Installed/Appl/Launcher/launcher.gobj
