theme: just-the-docs

title: "FreeGEOS documentation"
description: "SDK documentation for FreeGEOS, the open-source version of the PC/GEOS operating system"
footer_content: ""

# Footer "Edit this page on GitHub" link text
gh_edit_link: true
gh_edit_link_text: "Edit this page on GitHub."
gh_edit_repository: "https://github.com/bluewaysw/pcgeos"
gh_edit_branch: "master"
gh_edit_source: "TechDocs/Markdown"
gh_edit_view_mode: "tree"

nav_external_links:
  - title: "FreeGEOS on GitHub"
    url: https://github.com/bluewaysw/pcgeos

aux_links:
  "FreeGEOS on GitHub":
    - "https://github.com/bluewaysw/pcgeos"

# Jekyll plugins to simplify working with plain Markdown files
# (copied from default jekyll-build-pages action)
plugins:
  - jekyll-github-metadata
  - jekyll-relative-links
  - jekyll-optional-front-matter
  - jekyll-titles-from-headings
  - jekyll-default-layout

github: [metadata]

search:
  # Split pages into sections that can be searched individually
  # Supports 1 - 6, default: 4
  heading_level: 4
  # Maximum amount of previews per search result
  # Default: 3
  previews: 2
  # Maximum amount of words to display before a matched word in the preview
  # Default: 5
  preview_words_before: 3
  # Maximum amount of words to display after a matched word in the preview
  # Default: 10
  preview_words_after: 3
  # Focus the search input by pressing `ctrl + focus_shortcut_key` (or `cmd + focus_shortcut_key` on macOS)
  focus_shortcut_key: "k"

optional_front_matter:
  remove_originals: true

defaults:
  -
    scope:
      path: "" # all files
    values:
      # Turn off liquid rendering due to problems with {{...}} in code
      render_with_liquid: false
      has_children: true
      has_toc: false
  -
    scope:
      path: "assets"
    values:
      # Turn liquid rendering back on for theme assets
      render_with_liquid: true
  -
    scope:
      path: "Asmref"
    values:
      parent: "Assembly Reference"
      has_children: false
  -
    scope:
      path: "Concepts"
    values:
      parent: "Concepts"
      has_children: false
  -
    scope:
      path: "Devices"
    values:
      parent: "Device Specifics"
      has_children: false
  -
    scope:
      path: "Ddk"
    values:
      parent: "Driver Development"
      has_children: false
  -
    scope:
      path: "Esp"
    values:
      parent: "Esp"
      has_children: false
  -
    scope:
      path: "Objects"
    values:
      parent: "Objects"
      has_children: false
  -
    scope:
      path: "QuickRef"
    values:
      parent: "Quick Reference"
      has_children: false
  -
    scope:
      path: "Routines"
    values:
      parent: "Routines"
      has_children: false
  -
    scope:
      path: "Tools"
    values:
      parent: "Tools"
      has_children: false
  -
    scope:
      path: "Tutorial"
    values:
      parent: "Tutorial"
      has_children: false
  -
    scope:
      path: "index.md"
    values:
      has_children: false

  # Order Concept pages (only needed for 1-9)
  -
    scope:
      path: "Concepts/cintro.md"
    values:
      nav_order: "01"
  -
    scope:
      path: "Concepts/cbuild.md"
    values:
      nav_order: "02"
  -
    scope:
      path: "Concepts/carch.md"
    values:
      nav_order: "03"
  -
    scope:
      path: "Concepts/cgetsta.md"
    values:
      nav_order: "04"
  -
    scope:
      path: "Concepts/ccoding.md"
    values:
      nav_order: "05"
  -
    scope:
      path: "Concepts/cappl.md"
    values:
      nav_order: "06"
  -
    scope:
      path: "Concepts/cclipb.md"
    values:
      nav_order: "07"
  -
    scope:
      path: "Concepts/clocal.md"
    values:
      nav_order: "08"
  -
    scope:
      path: "Concepts/cgcn.md"
    values:
      nav_order: "09"
  # Order Object pages (only needed for 1-9)
  -
    scope:
      path: "Objects/osyscla.md"
    values:
      nav_order: "01"
  -
    scope:
      path: "Objects/ogen.md"
    values:
      nav_order: "02"
  -
    scope:
      path: "Objects/ogenapp.md"
    values:
      nav_order: "03"
  -
    scope:
      path: "Objects/ogendis.md"
    values:
      nav_order: "04"
  -
    scope:
      path: "Objects/ogentrg.md"
    values:
      nav_order: "05"
  -
    scope:
      path: "Objects/ogengly.md"
    values:
      nav_order: "06"
  -
    scope:
      path: "Objects/ogenint.md"
    values:
      nav_order: "07"
  -
    scope:
      path: "Objects/ogenval.md"
    values:
      nav_order: "08"
  -
    scope:
      path: "Objects/ogenvew.md"
    values:
      nav_order: "09"
  # Order Tools pages (only needed for 1-9)
  -
    scope:
      path: "Tools/twelcome.md"
    values:
      nav_order: "01"
  -
    scope:
      path: "Tools/tconfig.md"
    values:
      nav_order: "02"
  -
    scope:
      path: "Tools/tswatcm.md"
    values:
      nav_order: "03"
  -
    scope:
      path: "Tools/tswta_i.md"
    values:
      nav_order: "04"
  -
    scope:
      path: "Tools/tswtj_z.md"
    values:
      nav_order: "04.3"
  -
    scope:
      path: "Tools/ttcl.md"
    values:
      nav_order: "05"
  -
    scope:
      path: "Tools/tdebug.md"
    values:
      nav_order: "06"
  -
    scope:
      path: "Tools/ticoned.md"
    values:
      nav_order: "07"
  -
    scope:
      path: "Tools/tresed.md"
    values:
      nav_order: "08"
  -
    scope:
      path: "Tools/tini.md"
    values:
      nav_order: "09"
