This is an example of how the documentation for all Tcl commands should be
formatted:

[defcommand patchout {{routine {}}} {patch}
{Usage:
    patchout [<routine>]

Examples:
    "patchout"		list all patched out routines
    "patchout MyFunc"	patch MyFunc to never execute

Synopsis:
    Patch a routine to return before executing.

Notes:
    * The routine argument is supposed to be the name of the routine you want
      to patchout.  If this is not given a list of all routines patched will
      be displayed.

    * No registers will be modified by the patched-out routine.

    * There is no limit to the number of routines that may be patched out.

See also:
    patch, patchin, brk.
}
{
	code goes here
}]

"routine" is a placeholder/meta-symbol, so it gets placed in angle-brackets.
the square brackets then unequivocally imply the argument is optional. Using
square brackets in this manner causes problems any place you need to have
literal square brackets in the argument for a command, but that's extremely
rare in Swat, as square brackets begin a nested Tcl command and are thus
usually inappropriate.

In summary:

	<> surround meta-symbols/argument names

	() group a set of options (either literal strings or meta-symbols);
	   the options are separated by |'s.

	[] surround an optional argument. If there is a set of
	   options for this optional argument, the possibilities
	   are separated by |'s, as for ()

If the command is an internal command to our company then this is the first
thing to mention in Notes.  Next is each argument in the form of "The blahblah
argument is..." where blahblah is what was used in the Usage declaration.
Note that each entry in Notes is separated by a blank line.

There are headers for each of the sections to give the user an anchor point
when reading the text.  These headers are also used by programs to extract the
different fields for reference and listings.

Things of note:
	* the text of each section is indented four spaces, with the exception
	  of lines in a "Notes" paragraph that aren't the first line of the
	  paragraph; such lines are indented 6 spaces, to line up with the
	  first non-space, non-* character on the first line.

	* Notes paragraphs must begin with an asterisk. Some documentation-
	  extraction tools could well rely on this...
	 
	* Use meta-symbols in the Usage section when possible, in preference 
	  to a list of the possible options (e.g. "rmsg <group-by>" rather
	  than "rmsg (class|message)", as the user will probably abstract
	  what the argument means anyway, so you might as well do it for
	  him/her...

	* If the command takes different subcommands as its first argument,
	  use multiple lines in the Usage section to give the syntax for
	  each subcommand, rather than saying something like
	     foo <subcommand> (<args-for-sc1> | <args-for-sc2> | ... )

	* The commands in the See also section should be on a single line
	  and separated by commas. The period at the end is optional, though
	  encouraged.
	  
	* You don't need an example for every possible use of the command; just
	  a few representative ones.
